[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-blackboard"]
	path = vim/bundle/vim-blackboard
	url = git://github.com/nelstrom/vim-blackboard.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-vividchalk"]
	path = vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
