snippet inaud "Commit message: 'Fill in inaudible'" b
Fill-in inaudible
endsnippet

snippet homog "Commit message: Add definitions for homographs: 1 and 2" b
Add definitions for homographs: ${1} and ${2}
endsnippet
